.container {
  width: 100%;     
  
  /* Em vez de height: 100%, usamos min-height */
  /* Isto diz: "Ocupa no mínimo o ecrã todo, mas se tiver muitos filmes, podes esticar mais!" */
  min-height: 80vh; 
  background-color: #191919;
  color: #fff;
  padding-block: 1rem;
  text-align: center;
}
