html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*Formatação geral dos Cards*/
.cards{
  display: flex;
  gap: 5px; /*Espaço entre os elementos*/
  flex-wrap: wrap;
  justify-content: center;
}